@import url('./fonts.css');

*{
    font-family: 'Poppins', sans-serif;
}

.provider-option {
    display: flex;
    align-items: center;
}
.provider-option img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.submit-btn{
    background: #270685;
    color: #fff;
}

.submit-btn:hover{
    background: #1a0461;
    color: #fff;
}

.wallet-provider-selector{
    padding: 12px 12px;
}


strong{
    font-family: 'Poppins', sans-serif;
}